/*************** GRAPH / CANVAS ***************/

body {
  background-color: #dddddd;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.app {
  text-align: center;
  height: 100vh;
  overflow-y: hidden;
}

.canvas,
.toolbar {
  width: 80%;
  position: absolute;
  left: 1.5%;
}

.canvas {
  background-color: #fff;
  border-radius: 1rem;
  margin: 1rem auto;
  height: 75%;
  /* width: 100%; */
  display: flex;
  flex-direction: row;
}

/*************** TOOLBAR ***************/

.toolbar {
  height: 20%;
  bottom: 0;
  margin-top: 2rem;
}

.graph {
  height: 100%;
  width: 100%;
}

.button-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.btn {
  margin: 5px;
}

/*************** RESULTS ***************/

.results {
  height: 100%;
  width: 16%;
  position: absolute;
  right: -20%;
  text-align: center;
  font-family: "Roboto Mono", monospace;
}

.output-window {
  background-color: #404040;
  height: 85%;
  color: #fff;
  border-radius: 1rem;
  text-align: left;
  padding: 1rem;
}
