body {
  background-color: #dddddd;
}

.App {
  text-align: center;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  overflow-y: hidden;
}

.canvas,
.toolbar {
  width: 80%;
  position: absolute;
  left: 10%;
}

.canvas {
  background-color: #fff;
  border-radius: 1rem;
  margin: 1rem auto;
  height: 75%;
}

.toolbar {
  /* background-color: green; */
  height: 20%;
  bottom: 0;
  margin-top: 2rem;
}

.graph {
  height: 100%;
  width: 100%;
}

.button-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
