/*************** GRAPH / CANVAS ***************/

body {
  background-color: #dddddd;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.app {
  text-align: center;
  height: 100vh;
  overflow-y: hidden;
}

.canvas,
.toolbar {
  width: 80%;
  position: absolute;
  left: 2%;
}

.canvas {
  background-color: #fff;
  border-radius: 1rem;
  margin: 1rem auto;
  height: 75%;
}

/*************** TOOLBAR ***************/

.toolbar {
  height: 20%;
  bottom: 0;
  margin-top: 2rem;
}

.graph {
  height: 100%;
  width: 100%;
}

.button-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.btn {
  margin: 5px;
}

/*************** RESULTS ***************/

.results {
  height: 90%;
  width: 15%;
  position: absolute;
  right: 2%;
  text-align: center;
}

.output-window {
  background-color: #000;
  height: 76%;
  color: #fff;
  border-radius: 1rem;
}
